
<div class="mt-8">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold text-gray-900">
          <%= @city.name %>
        </h1>
        <p class="mt-2 text-sm text-gray-700"></p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <p class="mt-2 text-sm text-gray-700"><%= @city.state %>, <%= @city.country %></p>
      </div>
    </div>
  </div>
  <div class="mt-8 flow-root overflow-hidden">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <table class="w-full text-left">
        <thead class="bg-white">
          <tr>
            <th scope="col" class="relative isolate py-3.5 pr-3 text-left text-sm font-semibold text-gray-900">
              Index
              <div class="absolute inset-y-0 right-full -z-10 w-screen border-b border-b-gray-200"></div>
              <div class="absolute inset-y-0 left-0 -z-10 w-screen border-b border-b-gray-200"></div>
            </th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:table-cell">Co</th>
            <th scope="col" class="hidden px-3 py-3.5 text-left text-sm font-semibold text-gray-900 md:table-cell">no</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">no2</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">o3</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">so2</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">pm2_5</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">pm10</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">nh3</th>
            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>
          </tr>
        </thead>
        <tbody>
          <%= render @city.pollution_data %>
        </tbody>
      </table>
    </div>
  </div>
  <%= link_to "Back to Cities", cities_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
